<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>医疗设备数据采集系统</title>
	<script src="/bower_components/angular/angular.min.js"></script>

	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Loading Flat UI -->
	<link href="/bower_components/flat-ui/dist/css/flat-ui.css" rel="stylesheet">

	<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<link href="/css/main.css" rel="stylesheet">

</head>
<body ng-app="MDDC">
	<div class="row">
		<div class="col-xs-12">
			<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand">首页</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-01">
					<ul class="nav navbar-nav navbar-left">
						
						<li><a href="#fakelink">使用说明</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">典型案例<b class="caret"></b></a>
							<span class="dropdown-arrow"></span>
							<ul class="dropdown-menu">
								<li><a href="#">血压计数据采集</a></li>
								<li><a href="#">肝功数据采集</a></li>
								<li><a href="#">血常规数据采集</a></li>
								<li class="divider"></li>
								<li><a href="#">更多案例</a></li>
							</ul>
						</li>
						<li><a href="#fakelink">关于我们</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a class="title-login" href="/login">登陆</a></li>
						<li class="divider">|</li>
						<li><a class="title-join" href="/join">注册</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav><!-- /navbar -->
		</div>
	</div> <!-- /row -->

	<div class="main-cover">
		<div class="container">
			<h2 class="text-center large bold">
				医疗设备数据采集系统
			</h2>
			<h4 class="text-center large bold">
				统一管理您的医疗数据，来对您的健康状况做出更好的评估
			</h4>
			<h5 class="text-center">
				方便、简单、快捷
			</h5>
			<div class="col-md-12 text-center">
                <a class="btn btn-primary btn-join" href="/join">加入我们</a>
            </div>
		</div>
	</div>

	<div class="container">
		<h2 class="text-center">平台是如何工作的？</h2>
		<div class="row">
			<div class="col-md-7 col-sm-7 text-center">
				<img class="cast-shadow" src="/img/main/ydys.jpg">
			</div>
			<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
				<h3 class="bold text-center">数据采集</h3>
				<p>
					通过终端连接您的设备，将您的医疗数据上传到云端服务器，从而对您的医疗数据进行统一管理。
				</p>
			</div>
		</div>
	</div>

	<div class="bg-brown">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
					<h3 class="bold text-center">数据分析</h3>
					<p>
						将收集的医疗数据进行统一管理，并以图表的形式展示出来，以便相关的专家进行分析，并对您的健康状况做出评估。
					</p>
				</div>
				<div class="col-md-7 col-sm-7 text-center">
					<img class="cast-shadow" src="/img/main/fot.jpg">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature">
					<i class="fa fa-server"></i>
					<h4>安全、透明</h4>
					<p>通过加密协议来保障您的医疗数据安全，通过认证的方式在网络中共享</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature">
					<i class="fa fa-clock-o"></i>
					<h4>方便、快捷</h4>
					<p>数据采集方式简单、快捷，您可选用设备连接或手动输入等方式录入数据，从而为您节约大量的时间</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature">
					<i class="fa fa-usb"></i>
					<h4>统一接口</h4>
					<p>提供统一的数据接口，向相关的医疗数据分析平台开放，从而更好的对您的健康状况做出评估</p>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/videojs/dist/video-js/video.js"></script>
	<script src="/bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
	<script src="/js/mainApp.js"></script>
	<script src="/js/mainCtrl.js"></script>
</body>
</html>
